.pc, .tablet, .mobile{
    display: none;
    font-size: 50px;
    
}

/* mobile: width < 740 px */

@media  screen and (max-width: 46.1875em){
    .mobile{
        display: block;
    }
}

/* tablet: width >= 740 px và < 1024 px */

@media  screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .tablet{
        display: block;
    }
}

/* pc: width > 1024 px */

@media  screen and (min-width: 64em){
    .pc{
        display: block;
    }
}

